*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav ul{
    background: orange;
    display: flex;
    justify-content: start;
    align-items: center;
}

header nav ul li{
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}

header nav ul li a{
    color: #fff;
    background: blue;
    text-decoration: none;
}

header nav ul li a span{
    font-size: 30px;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
}

footer{
    padding: 15px;
    text-align: center;
}

aside{
    padding: 15px;
    background: yellow;
}

article{
    padding: 15px;
    background: green;
    color: #fff;
}

@media only screen and (max-width: 600px){
    main{
        flex-direction: column;
    }
    aside{
        height: 100vh;
    }
    article{
        height: 100vh;
    }

}